{% extends 'layout.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}
    <h1 class="text-center">Création d'un article</h1>
    {% include 'Staff/_createArticleForm.html.twig' %}
{% endblock %}