{% extends 'layout.html.twig' %}

{% block title %}Création d'un topic{% endblock %}

{% block body %}
    <h1 class="text-center">Création d'un topic</h1>
    {% include 'Forum/_createTopicForm.html.twig' %}
{% endblock %}